.footer {
    display: flex;
    justify-content: center;
    background-color: #0021ff;
    border-radius: 45px 45px 0px 0px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    height: 170px;
    width: 40%;
    margin: 0 auto;
    position: relative;
}

.footer .copy {
    margin: 5px 0;
    font-size: 0.9em;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.line {
    border-top: 1px solid #ffffff;
    position: absolute;
    bottom: 65px;
    width: 100%;
}

.footer-img {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
}

@media(max-width:767px) {
    .footer-img {
        width: 150px;
    }

    .line {
        margin-bottom: 30px;
    }
}