#mercado {
    background-color: #12F1FF;
}


.cards__jobs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    column-gap: 1%;
    row-gap: 10px;
}

.cards__jobs__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.first__card {
    background-color: #fff;
    box-shadow: 0px 5px 0px 0px #191A23;
}

.first__card span {
    background-color: #0021FF;
    color: #fff;
}

.second__card {
    background-color: #0021FF;
    box-shadow: 0px 5px 0px 0px #191A23;

}

.second__card span {
    background-color: #12F1FF;
}

.second__card a {
    color: #fff;
}

.content__view {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}


.job_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.job_desc h2 span {
    border-radius: 5px;
    display: flex;
    display: inline-block;
}

.job_desc a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.job_desc a img {
    width: 20px;
    margin-right: 10px;
}

.job_img {
    padding: 20px 0;
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}

.job_img img {
    width: 100%;
    height: 100%;
}

.content__hidden {
    height: 0;
    overflow: hidden;
    background-color: #fff;
    margin-top: -10px;
    margin-bottom: 10px;
    transition: height, .3s ease;
}

.show_content {
    padding: 30px 10px;
    height: 250px;
    transition: height, .3s ease;
}

@media(max-width:767px) {
    .title {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 80px 0;
    }
    
    .title h2 {
        width: 500px;
        margin-right: 40px;
    }
    

}