.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    position: relative;
}

.image-background {
    background-color: #12F1FF;
    position: absolute;
    left: 0;
    height: 87%;
    width: 31%;
    z-index: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.quiz-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.image-container {
    z-index: 3;
}

.image-container img {
    border-radius: 8px;
    object-fit: cover;
}



.text-container {

    flex: 1;
}

.header .title {
    font-size: 32px;
    font-weight: bold;
    color: #0021FF;
    margin-bottom: 15px;
}

.header span {
    font-size: 40px;
    border-radius: 7px;
    background-color: #12F1FF;
    color: black;
    font-family: Space Grotesk;
    font-weight: 500;
    word-wrap: break-word;
}

.description {
    font-size: 18px;
    color: #333333;
    margin-bottom: 50px;
    line-height: 1.5;
}

.quiz-button {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
    background-color: #12F1FF;
    color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-button:hover {
    background-color: #0021FF;
    color: #ffffff;
}

/* Responsividade */
@media (max-width: 767px) {
    .quiz-content {
        flex-direction: column;
        align-items: center;
    }

    .image-background {
        display: none;
    }

    .text-container {
        margin-left: 0;
        text-align: center;
    }

    .header .title {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }

    .quiz-button {
        width: 49%;
        font-size: 14px;
        padding: 10px 20px;
        margin: 0 auto;
        /* Remove a margem direita em telas menores */
    }

    .image-container img {
        max-width: 100%;
        border-radius: 150%;
    }

}

/* Media query para telas maiores */
@media (min-width: 768px) {
    .image-container img {
        max-width: 600px;
        left: 300px;
    }
}